---
import { Picture } from 'astro:assets';
import mobileImage from '../assets/mobile.png';
import pcImage from '../assets/pc.png';
---

<div id="key-visual-container">
  <Picture
    src={pcImage}
    id="key-visual-pc"
    formats={['webp', 'avif']}
    alt="Key Visual"
    layout="full-width"
    width={pcImage.width}
    height={pcImage.height}
    priority
  />
  <Picture
    src={mobileImage}
    id="key-visual-mobile"
    formats={['webp', 'avif']}
    alt="Key Visual"
    layout="full-width"
    width={mobileImage.width}
    height={mobileImage.height}
    priority
  />
</div>

<style>
  #key-visual-container {
    height: 100lvh;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
  }
  @media screen and (max-width: 935px) {
    #key-visual-pc {
      display: none;
    }
  }
  @media screen and (min-width: 936px) {
    #key-visual-mobile {
      display: none;
    }
  }
</style>
